@model DenemeModel

<h1>ürün ekle</h1>
<form asp-controller="NorthwindProducts" asp-action="add">
    <label asp-for="ProductName">Ürün ismi:</label><br>
    <input asp-for="ProductName" /><br />

    <label asp-for="CategoryID">Kategori ID:</label><br>
    <input asp-for="CategoryID" /><br />

    <label asp-for="QuantityPerUnit">QuantityPerUnit:</label><br>
    <input asp-for="QuantityPerUnit" /><br />

    <label asp-for="UnitPrice">Birim fiyat:</label><br>
    <input asp-for="UnitPrice" /><br />


    <label asp-for="UnitsInStock">Stok adedi:</label><br>
    <input asp-for="UnitsInStock" /><br />

    <input type="submit" value="Gönder" />
</form>